@import "../../../../styles/vars.scss";

.projectStatusContainer {
  align-self: flex-start !important;

  @include flex-box($align: center, $justify: space-around);

  width: 10rem;
  height: 2rem;

  border-radius: 0px 8px;

  .statusTasks {
    @include flex-box($align: center, $justify: space-around);
    @include font-bebas-neue($size: 1.5rem);
    @include block-text-select();

    gap: 0.5rem;

    p {
      text-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px
    }

    .icon {
      @include flex-box($align: center, $justify: center);

      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
