@import "../../../../styles/vars.scss";

.optionsContainer {
  @include flex-box($justify: center, $align: flex-end, $direction: row);

  gap: 1rem;
  border-bottom: 2px solid rgba(121, 121, 121, 0.15);
  margin-bottom: 2rem;

  .viewIn {
    @include flex-box($align: center, $justify: center);
    gap: 0.5rem;
    padding: 0 1rem 1rem 0;

    .viewIcon {
      @include flex-box($align: center, $justify: center);
      width: 1.8rem;
      height: 1.8rem;
      cursor: pointer;

      svg {
        color: white;
      }

      transition: all 0.3s ease;

      &:hover {
        border-radius: 50%;
        background: rgba(121, 121, 121, 0.3);
      }
    }

    .selected {
      @include flex-box($align: center, $justify: center);
      border-radius: 50%;
      background: rgba(121, 121, 121, 0.55);
    }
  }

  .title {
    @include font-bebas-neue($size: 3.6rem);
    @include block-text-select();
  }

  .addProjectIcon {
    @include flex-box($align: center, $justify: center);
    align-self: flex-start;

    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background: white;
    cursor: pointer;

    svg {
      font-size: 1.3rem;
      color: $darker;
    }

    transition: all 0.3s ease-in-out;

    &:hover {
      filter: 0px 3px 3px rgba(0, 0, 0, 0.8);
      box-shadow: 3px 3px 3px 6px rgba(0, 0, 0, 0.7);
    }
  }
}
