@import "../../styles/variables.scss";

.container {
  @include flex-box($direction: column, $justify: flex-start);

  width: 28rem;
  height: 100%;

  gap: 1.7rem;

  background: $darker;

  .countdown {
    @include flex-box($direction: column, $justify: center);
    gap: 1.5rem;
    width: 100%;

    .projectSelector {
      @include flex-box($justify: center);

      width: 80%;
      background: $dark;
      border-radius: 8px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

      padding: 1rem 1.4rem;
      margin: 2rem 0 1rem;
      gap: 1.5rem;

      .selectorOption {
        @include font-bebas-neue($size: 2rem);
        @include font-hallowen-gradient();
        width: 100%;
      }
    }

    .title {
      @include font-bitter($size: 1.8rem, $weight: 800);
      text-align: center;
    }

    .description {
      @include font-bitter($size: 1.2rem);
      color: #d8d8d8;
    }

    .taskTag {
      @include font-bebas-neue();
      @include block-text-select();
      cursor: pointer;
      color: white;

      transition: all 0.2s ease-in-out;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .sepLine {
    border: 1px solid rgba(121, 121, 121, 0.25);
    margin: 1rem 0 0.5rem 0;
    width: 40%;
  }

  .compass {
    @include flex-box($direction: column, $justify: center);
    @include max-size-percent();

    color: white;
    margin-bottom: 3rem;

    .compassTitle {
      @include font-bebas-neue($size: 2.5rem);
      text-align: right;
      width: 80%;
      padding-bottom: 2rem;
    }
  }
}
