@import "../../styles/variables.scss";

.container {
  @include flex-box(
    $direction: column,
    $justify: flex-start,
    $align: center
  );

  width: 28rem;
  height: 100%;

  gap: 1.7rem;

  background: $darker;

  .countdownTitle {
    @include font-bitter($size:1.8rem, $weight: 800);
    text-align: center;
  }

  .countdownDescription {
    @include font-bitter($size:1.2rem);
    color: #d8d8d8;
  }

  .sepLine {
    border: 1px solid rgba(121, 121, 121, 0.25);
    margin: 1rem 0 0.5rem 0;
    width: 40%;
  }
}

.projectSelector {
  @include flex-box(
    $justify: center,
    $align: center
  );

  background: $dark;
  border-radius: 8px;

  padding: 1rem 1.4rem;
  margin: 2rem 0 1rem;
  gap: 1.5rem;

  .title {
    @include font-bebas-neue($size:2rem);
    text-align: right;
  }
}

.compass {
  @include flex-box(
    $direction: column,
    $justify: center,
    $align: center
  );

  color: white;
  margin-bottom: 3rem;
  @include max-size-percent();

  .compassTitle {
    @include font-bebas-neue($size:2.5rem);
    text-align: right;
    width: 80%;
    padding-bottom: 2rem;
  }
}

.taskTag {
  cursor: pointer;
  color: white;
  @include font-bebas-neue();

  &:hover {
    color: $purple;
  }
}
