.countdownContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RemainsFormatText {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;

  color: white;
}

.RemainsFormatValue {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2rem;

  color: white;
}
