.taskStatusContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  gap: 2rem;

  .taskListTitle {
    width: 70%;

    text-align: left;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    color: #ffffff;
  }

  .tasksList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 1rem;

    width: 100%;
  }
}
