@import "../../styles/variables.scss";

.taskStatusContainer {
  @include flex-box($justify: flex-start, $align: center);

  width: 100%;

  .taskListTitle {
    @include font-bebas-neue($size: 2.7rem);

    width: 40%;
    text-align: left;
    color: #ffffff;
  }

  .tasksList {
    @include flex-box($direction: column, $justify: center, $align: flex-start);

    gap: 1rem;
    width: 60%;
  }
}
