@import "../../../../styles/vars.scss";

.statusContainer {
  @include flex-box($direction: column, $justify: center, $align: center);
  @include max-size-percent();
  // max-width: 20rem;
  // flex-wrap: wrap;
  gap: 1.2rem;

  margin-left: 2rem; // side offset
  margin-top: 2rem; // top offset

  .separator {
    width: 60%;
    align-self: flex-start;
    border: 1px solid rgba(121, 121, 121, 0.15);
  }

  .confetti {
    @include flex-box($justify: flex-start, $align: center);
    @include font-bebas-neue($size: 3.5rem);
    @include max-size-percent();
    @include block-text-select();

    padding-left: 8rem;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }
}
