@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (max-width: 1920px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1368px) {
  html {
    font-size: 89%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, Bebas Neue, Bitter, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 13px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(136, 136, 136, 0.513);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.404);
  }
}

button,
a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
