@mixin max-size-percent() {
  height: 100%;
  width: 100%;
}

@mixin max-size-viewport() {
  height: 100vh;
  width: 100vw;
}

@mixin flex-box(
  $direction: row,
  $justify: normal,
  $align: center,
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

$dark: #282a36;
$darker: #21232d;

