@import "../../styles/variables.scss";

.taskContainer {
  @include flex-box(
    $justify: center,
    $align: center
  );

  width: 100%;

  .timeContainer {
    @include flex-box(
      $justify: flex-start,
      $align: center
    );

    width: 100%;
    gap: 1rem;

    .timeRemains {
      @include flex-box(
        $justify: flex-start,
        $align: center
      );

      width: 24rem;

      font-family: Bitter;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;

      color: $white-gray;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }
  }
}
