.projectsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;

  padding: 3rem 3rem;

  .title{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 86px;

    color: #FCFCFC;

  }
}
