@import "../../../styles/variables.scss";

.projectsContent {

  @include flex-box(
    $align: flex-end,
    $justify: center,
    $direction: column
  );

  width: 100rem;
  padding: 0 3rem;

  .projectViewOptions {
    @include flex-box(
      $justify: flex-start,
      $align: flex-start,
      $direction: column
    );

    .title {
      @include font-bebas-neue($size: 3.6rem);
    }
  }

  .projectsContainer{
    @include flex-box(
      $justify: flex-start,
      $direction: row
    );

    gap: 2rem;
    @include max-size-percent();
    overflow-x: scroll;
  }
}
