@import "../../../styles/variables.scss";

.container {
  @include flex-box(
    $justify: flex-start,
    $align: flex-end,
    $direction: column
  );

  @include max-size-percent();

  padding: 3rem 3rem;

  .projectViewOptions {
    .title {
      font-family: Bebas Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 86px;

      color: #fcfcfc;
    }
  }

  .projectsContainer{
    @include flex-box(
      $justify: space-around,
      $align: center,
      $direction: row
    );

    @include max-size-percent();
  }
}
