@import "../../../styles/variables.scss";

.projectsContent {
  @include flex-box($align: flex-end, $justify: center, $direction: column);

  width: 100rem;
  height: 65%;
  padding: 0 3rem;

  .projectViewOptions {
    @include flex-box($justify: center, $align: flex-end, $direction: row);

    gap: 1rem;
    border-bottom: 2px solid rgba(121, 121, 121, 0.15);
    margin-bottom: 2rem;

    .projectViewOptionsTitle {
      @include flex-box($align: center, $justify: center);
      gap: 0.5rem;
      padding: 0 1rem 1rem 0;

      .viewOptionsIcon {
        @include flex-box($align: center, $justify: center);
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;

        svg {
          color: white;
        }

        transition: all 0.3s ease;

        &:hover {
          border-radius: 50%;
          background: rgba(121, 121, 121, 0.3);
        }
      }

      .optionSelected {
        @include flex-box($align: center, $justify: center);
        border-radius: 50%;
        background: rgba(121, 121, 121, 0.55);
      }
    }

    .title {
      @include font-bebas-neue($size: 3.6rem);
    }

    .addProject {
      @include flex-box($align: center, $justify: center);
      align-self: flex-start;

      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background: white;
      cursor: pointer;

      svg {
        font-size: 1.3rem;
        color: $darker;
      }
    }
  }

  .projectsContainer {
    @include flex-box($justify: flex-start, $direction: row);

    gap: 2rem;
    @include max-size-percent();
    overflow-x: scroll;
  }
}
