.carouselContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  .widgetsSlider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap: 1rem;

    .circleIcon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 2rem;
      height: 2rem;

      border-radius: 50%;

      transition: all 0.5s ease;

      svg {
        color: rgba(255, 255, 255, 0.7);
        width: 1.4rem;
        height: 1.4rem;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        svg {
          color: #21232d;
        }
      }
    }
  }
}
