@import "../../styles/variables.scss";

.loaderContainer {
  @include absolute-center($z-index: 2000);
  @include flex-box($direction: column, $align: center, $justify: center);

  .loader {
    border: 16px solid $orange;
    border-top: 6px solid $hightPurple;

    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    animation: spin 2s steps(360, jump-start) infinite;

    z-index: 2000;
    position: absolute;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(90deg);
      }
      50% {
        transform: rotate(180deg);
      }
      75% {
        transform: rotate(270deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
