@import "../../styles/variables.scss";

@mixin transition-opacity {
  transition: opacity 0.1s ease;
}

.checkbox {
  width: 1.2rem;
  height: 1.2rem;
  color: $white !important;

  .checked {
    @include transition-opacity();

    opacity: 0;
  }

  .active {
    @include transition-opacity();

    opacity: 1;
  }
}
