@import "../../../styles/variables.scss";

.container {
  @include flex-box($direction: column, $justify: flex-start, $align: center);
  @include absolute-center();

  width: 25vw;

  background-color: $dark;
  padding-top: 2rem;
  border-radius: 8px;

  .title {
    @include font-bebas-neue($size: 3rem);
    align-self: flex-end;
    color: $hightPurple;
    padding-right: 2rem;
  }

  .edit {
    @include flex-box($direction: row, $justify: space-between, $align: center);
    position: absolute;
    left: 0;
    top: 0;

    background: rgba(0, 0, 0, 0.25);
    width: 4rem;
    height: 3rem;
    border-radius: 0 0 20px 0;

    a {
      cursor: pointer;
      margin-left: 1rem;
      svg {
        font-size: 1.2rem;
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }

  form {
    @include flex-box($direction: column, $justify: center, $align: center);
    @include max-size-percent();
    gap: 1.7rem;
    padding: 0 2rem;

    .inputContainer {
      @include flex-box(
        $direction: column,
        $justify: center,
        $align: flex-start
      );

      gap: 1rem;
      width: 100%;
      border-radius: 5px;

      label {
        @include font-bebas-neue($size: 1.5rem);
        color: $white;
      }

      input,
      textarea {
        @include font-raleway($size: 1.5rem);
        padding: 0.5rem;
        color: $white;
        background: $darker;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 3rem;
        width: 100%;
        border-radius: 8px;
      }

      .submitButton {
        @include font-bebas-neue($size: 1.5rem);

        width: 100%;
        height: 3rem;
        margin-bottom: 2rem;

        border-radius: 8px;

        color: $darker !important;
        box-shadow: 0 8px 32px 0 rgba(12, 15, 47, 0.37);
        transition: all 0.3s ease-in-out;

        &:hover {
          filter: brightness(0.8);
        }

        background: $orange;

        background-size: 350% 100%;
        animation: gradient 7s ease infinite;

        @keyframes gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }
    }

    .description {
      input,
      textarea {
        height: 15rem;
      }
    }
  }
}
