@import "../styles/variables.scss";

.pageAuth {
  @include flex-box($justify: flex-start, $align: center);
  @include max-size-viewport();
  background: $darker;

  .sidebar {
    @include flex-box($justify: center, $align: center);
    width: 50vw;
    height: 100%;

    .logo {
      @include flex-box($direction: column, $justify: center, $align: center);
      position: absolute;
      gap: 2rem;

      .logoContainer {
        @include flex-box($justify: center, $align: center);
        position: relative;

        svg {
          width: 15vw;
        }
      }

      .logoText {
        @include font-bebas-neue($size: 4.5rem);
        @include block-text-select();
        opacity: 0.6;
      }
    }
  }

  main {
    @include flex-box($justify: center, $align: center);
    width: 50vw;
    height: 100%;

    .mainContent {
      @include flex-box(
        $direction: column,
        $justify: space-between,
        $align: space-between
      );
      @include font-bebas-neue($size: 1.5rem);

      gap: 2rem;
    }
  }
}
