@import "./vars.scss";

.container {
  @include flex-box($justify: center, $align: center);
  @include max-size-viewport();

  .logo {
    @include flex-box($direction: column, $justify: center, $align: center);
    position: absolute;
    gap: 2rem;

    .logoContainer {
      @include flex-box($justify: center, $align: center);
      position: relative;

      svg {
        width: 15vw;
      }
    }

    .logoText {
      @include font-bebas-neue($size: 4.5rem);
      @include block-text-select();
      opacity: 0.6;
    }

    .loginBtn{
      @include font-bebas-neue($size: 3rem);
      @include block-text-select();
      color: $blueDark;
      box-shadow: 0 0 5px $blueDark;

      border-radius: 16px;
      padding: 0.3rem 2rem;

      &:hover {
        box-shadow: 0 0 1rem 0.5rem black;
        color: $hightPurple;
      }
    }
  }
}
