$blueDark: #24283f;
$dark: #282a36;
$darker: #21232d;
$darkForce: #111218;
$purple: #ab70ff;
$orange: #ffa039;
$hightPurple: #832cff;
$hightOrange: #ff901a;
$gray: #797979;
$gray-dark: #354f6e;
$white-gray: #d8d8d8;
$white: #f1f1f1;
$red: #ff6363;
$orangeDark: #ff7055;
$gold: #ff8f36;
$yellow: #eab521;
$cyan: #8be9fd;
$green: #3ae651;

// Breakpoints
$bp-s: 320px;
$bp-m: 720px;
$bp-l: 1440px;

// @media screen and (max-width: $bp-m) {
//   width: 20rem;
// }

@mixin max-size-percent() {
  height: 100%;
  width: 100%;
}

@mixin max-size-viewport() {
  height: 100vh;
  width: 100vw;
}

@mixin font-bebas-neue($size: 1.5rem, $weight: normal) {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;

  color: white;
}

@mixin font-bitter($size: 1.5rem, $weight: normal) {
  font-family: Bitter;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;

  color: white;
}

@mixin font-raleway($size: 1.5rem, $weight: normal) {
  font-family: Raleway;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;

  color: white;
}

@mixin font-lato($size: 1.5rem, $weight: normal) {
  font-family: Lato;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;

  color: white;
}

@mixin font-hallowen-gradient() {
  background: -webkit-linear-gradient($purple 15%, $orange 85%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin font-hight-hallowen-gradient() {
  background: -webkit-linear-gradient($hightPurple 15%, $hightOrange 85%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin flex-box($direction: row, $justify: normal, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin absolute-center($z-index: 1000) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-index;
}

@mixin block-text-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes underline {
  from {
    left: 50%;
    width: 0;
  }
  to {
    left: 0;
    width: 100%;
  }
}

@mixin underline-text-gradient() {
  &:after {
    display: block;
    position: absolute;

    left: 50%;
    bottom: 0;
    content: "";

    height: 2px;
    width: 0;

    background: none repeat scroll 0 0 transparent;
    background: currentcolor;

    animation: underline 1.5s forwards;
    transition: all 0.3s linear;
  }

  &:hover:after {
    background: -webkit-linear-gradient($purple 15%, $orange 85%);
  }
}
