@import "../../styles/vars.scss";

.taskContainer {
  @include flex-box($justify: flex-start, $align: center);

  overflow: hidden;
  cursor: pointer;
  width: 100%;
  gap: 0.7rem;

  .timeRemains {
    @include flex-box($justify: flex-start, $align: center);
    @include font-bitter($size: 1rem);
    gap: 0.5rem;
    width: 100%;

    color: $white-gray;
    overflow: hidden;
    white-space: nowrap;

    transition: all 0.2s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
    }

    .description {
      width: 90%;
    }
  }
}
