@import "../../../../styles/vars.scss";

.inputContainer {
  @include flex-box($direction: column, $justify: center, $align: flex-start);
  @include font-bebas-neue($size: 1.5rem);
  color: $white;

  gap: 1rem;
  width: 100%;
  border-radius: 5px;

  input,
  textarea {
    @include font-raleway($size: 1.5rem);
    padding: 0.5rem;
    color: $white;
    background: $darker;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 3rem;
    width: 100%;
    border-radius: 8px;
  }

  .inputColor {
    @include flex-box($justify: center, $align: center);
    align-self: flex-end;
    position: relative;

    svg {
      color: $white;
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.65));
      position: absolute;
      font-size: 1.4rem;
    }

    input {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      border-radius: 8px;
      width: 22vw;
      height: 3rem;

      &::-webkit-color-swatch {
        border-radius: 8px;
      }

      &::-webkit-color-swatch-wrapper {
        border-radius: 8px;
        padding: 0;
      }
    }
  }
}

.description {
  input,
  textarea {
    height: 15rem;
  }
}
