@import "../../../styles/vars.scss";

.modal {
  .taskModal {
    @include absolute-center($z-index: 2000);
    @include flex-box($direction: column, $align: center, $justify: center);

    width: 80vw;
    height: 90vh;
    padding-top: 2rem;

    background: rgba(33, 35, 45, 0.8); // $darker
    box-shadow: 0 8px 32px 0 rgba(12, 15, 47, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;

    .taskModalTitle {
      @include font-bebas-neue($size: 2rem);
    }

    .tools {
      @include flex-box($justify: flex-end);
      width: 80%;

      .bar {
        @include flex-box($justify: center);
        gap: 2rem;
        height: 3rem;

        background: #31333d;
        border-radius: 10px;
        padding: 0 1rem;
        list-style-type: none;

        li {
          transition: all 0.3s ease-in-out;

          svg {
            cursor: pointer;
            font-size: 1.4rem;
          }

          &:hover {
            svg {
              filter: brightness(0.8);
            }

            font-size: 1.8rem;
          }
        }
      }
    }

    .taskMarkdownPreview {
      height: 90% !important;
      width: 80% !important;
    }
  }
}
