@import "../../../../styles/vars.scss";

.particles {
  canvas {
    position: absolute;
    width: 100vw !important;
    height: 100% !important;
    background: $blueDark;
    box-shadow: 8px 4px 4px -1px rgba(0, 0, 0, 0.25);
  }
}
