@import "../../../styles/variables.scss";

.pageIndicatorsContainer {
  @include flex-box($justify: center, $align: center);
  width: 100%;

  gap: 0.7rem;
  padding-top: 1rem;

  .indicatorSelected{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;
  }

  .indicatorUnselected{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $gray;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $white;
      opacity: 0.7;
    }
  }
}
