@import "../../styles/variables.scss";

.topbarContainer {
  position: fixed;
  top: 0;

  @include flex-box($justify: space-between, $align: center);

  height: 5rem;
  width: 100vw;
  background: $dark;

  padding: 0 3rem 0 35%;
  border-bottom: 1px solid $gray;

  .searchBar {
    width: 40rem;
    height: 3rem;

    padding-right: 1.5rem;
    border-radius: 50px;
    background: rgba(121, 121, 121, 0.15);

    @include font-raleway($size: 1.3rem);
    text-align: end;

    transition: all 0.5s ease;

    &:hover {
      background: rgba(121, 121, 121, 0.25);
      &::placeholder {
        color: #a3a3a3;
      }
    }

    &::placeholder {
      @include font-raleway($size: 1.3rem);

      color: $gray;
      text-align: end;
      transition: all 0.5s ease;
    }
  }

  .userAvatar {
    position: relative;

    @include flex-box($justify: center, $align: center);

    height: 2.6rem;
    width: 2.6rem;
    cursor: pointer;

    img,
    svg {
      @include max-size-percent();
      box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.4);
      filter: 2px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      transition: all 0.3s ease;

      &:hover {
        color: #8090af;
        filter: 0px 4px 4px rgba(0, 0, 0, 0.8);
        box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.7);
      }
    }

    svg {
      color: $gray;
    }
  }
}
