.sidebarContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 6rem;
  height: 100%;
  left: 0px;
  top: 0px;

  background: #21232d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .logoIcon {
    position: relative;
    padding-top: 1.5rem;
  }
}
