@import "../../../styles/variables.scss";

.projectWidget {
  @include flex-box($direction: column, $align: flex-start);

  width: 100%;
  gap: 1rem;

  .projectTitle {
    @include font-bebas-neue($size: 2rem);

    background: -webkit-linear-gradient(90deg, #fbb366 15%, #aa71fa 85%);

    background-size: 2rem;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      background: transparent;
      -webkit-text-fill-color: currentcolor;
      filter: drop-shadow(0 0 0.5rem $darker);
    }

    &:after {
      display: block;
      position: absolute;

      left: 50%;
      bottom: 0;
      content: "";

      height: 2px;
      width: 0;

      background: none repeat scroll 0 0 transparent;
      background: currentcolor;

      transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    &:hover:after {
      width: 100%;
      left: 0;
    }
  }

  .projectContainer {
    @include flex-box(
      $direction: column,
      $justify: flex-start,
      $align: flex-start
    );

    background: #21232d;
    border-radius: 8px;

    padding-bottom: 3rem;
    gap: 2rem;
    width: 28rem;

    .projectHeader {
      @include flex-box(
        $direction: row,
        $justify: space-between,
        $align: center
      );

      width: 100%;

      .totalTasks {
        padding: 0.5rem 0.5rem;
        @include font-bebas-neue($size: 1.8rem);
      }

      .progressProject {
        align-self: flex-start !important;

        @include flex-box(
          $direction: row,
          $align: center,
          $justify: space-around
        );

        width: 10rem;
        height: 2rem;

        @include font-bebas-neue($size: 1.5rem);

        background: #13368e;
        border-radius: 0px 8px;
      }
    }

    .addTask {
      align-self: center;

      height: 2.5rem;

      @include font-bebas-neue($size: 2rem);

      width: 85%;
      background: rgba(216, 216, 216, 0.05);
      border-radius: 8px;

      cursor: pointer;

      &:hover {
        background: linear-gradient(
          -45deg,
          rgba(216, 216, 216, 0.25),
          #515353,
          #515353,
          #424555,
          #515353
        );
        background-size: 350% 100%;
        animation: gradient 4s ease infinite;

        @keyframes gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }
    }

    .tasksContainer {
      @include flex-box($direction: column);

      gap: 2rem;
      align-self: center;

      padding: 2rem 1rem;

      overflow-y: scroll;
      width: 85%;
      height: 18rem;

      background: rgba(216, 216, 216, 0.05);
      border-radius: 8px;
    }
  }
}
