@import "../../../styles/variables.scss";

.globalStatus {
  @include flex-box($justify: space-between, $align: center);
  gap: 2rem;
  width: 100%;

  .tasksStatusContainer {
    @include flex-box($direction: column, $justify: center, $align: center);
    gap: 1.2rem;
    width: 100%;

    margin-left: 2rem; // side offset
    margin-top: 2rem; // top offset

    .separator {
      width: 60%;
      align-self: flex-start;

      border: 1px solid rgba(121, 121, 121, 0.15);
    }
  }
}
