@import "../../../styles/variables.scss";

.selector{
  @include flex-box($justify: space-between);
  @include max-size-percent();
  
  &:first-child:nth-last-child(1){
    @include flex-box($justify: center);
  }

  .circleIcon {
    @include flex-box($justify: center, $align: center);

    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;

    svg {
      color: rgba(255, 255, 255, 0.7);
      width: 1.4rem;
      height: 1.4rem;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      svg {
        color: #21232d;
      }
    }
  }
}
