.selector {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  .selectorItem {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    height: 1.5rem;

    background: white;
    border-radius: 50%;

    svg {
      width: 90%;
      height: 90%;

      color: #282a36;
    }

    &:first-of-type {
      svg {
        margin-left: -0.1rem;
      }
    }

    &:last-of-type {
      svg {
        margin-right: -0.1rem;
      }
    }
  }

  .projectName {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    padding-top: 0.2rem;

    background: -webkit-linear-gradient(#ab70ff 17.06%, #ffa039 84.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
