@import "../../../styles/variables.scss";

.selector {
  @include flex-box($justify: center, $align: center);
  gap: 1rem;

  .selectorItem {
    @include flex-box($justify: center, $align: center);


    width: 1.5rem;
    height: 1.5rem;

    background: white;
    border-radius: 50%;

    svg {
      width: 90%;
      height: 90%;

      color: $dark;
    }

    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: #8090af;

    }

    &:first-of-type {
      svg {
        margin-left: -0.1rem;
      }
    }

    &:last-of-type {
      svg {
        margin-right: -0.1rem;
      }
    }
  }

  .projectName {
    @include font-bebas-neue($size: 2rem);
    @include font-hallowen-gradient();

    padding-top: 0.2rem;
  }
}
